{{ define "css" }}
<script>
    $(document)
            .ready(function() {

                // fix main menu to page on passing
                $('.main.menu').visibility({
                    type: 'fixed'
                });
                $('.overlay').visibility({
                    type: 'fixed',
                    offset: 80
                });

                // lazy load images
                $('.image').visibility({
                    type: 'image',
                    transition: 'vertical flip in',
                    duration: 500
                });

                // show dropdown on hover
                $('.main.menu  .ui.dropdown').dropdown({
                    on: 'hover'
                });
            })
    ;
</script>
<style type="text/css">
    .container {
        width: 90%;
        margin: 0 auto;
    }
    body {
        background-color: #FFFFFF;
    }
    .main.container {
        margin-top: 2em;
    }

    .main.menu {
        margin-top: 4em;
        border-radius: 0;
        border: none;
        box-shadow: none;
        transition:
                box-shadow 0.5s ease,
                padding 0.5s ease
    ;
    }
    .main.menu .item img.logo {
        margin-right: 1.5em;
    }

    .overlay {
        float: left;
        margin: 0em 3em 1em 0em;
    }
    .overlay .menu {
        position: relative;
        left: 0;
        transition: left 0.5s ease;
    }

    .main.menu.fixed {
        background-color: #FFFFFF;
        border: 1px solid #DDD;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
    .overlay.fixed .menu {
        left: 800px;
    }

    .text.container .left.floated.image {
        margin: 2em 2em 2em -4em;
    }
    .text.container .right.floated.image {
        margin: 2em -4em 2em 2em;
    }

    .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
    }

    .checkbox-item {
        line-height: 1;
        flex: 0 0 auto;
        padding: .92857143em 1.14285714em;
        margin-top: 0;
        margin-bottom: 0;
    }
</style>
{{ end }}

{{ define "content" }}
<div class="ui borderless main menu" style="height:20px;">
    <div class="ui text container" style="max-width:800px !important;">
        <div class="ui slider checkbox item" onclick="click_input(this, '', 'static')" style="cursor:pointer;">
            <input type="checkbox" name="newsletter" style="padding-bottom: 5px;" onclick="click_input(this, 'self', 'static')" {{ if .static }}checked{{ end }}>
            <label>Static</label>
        </div>
        <div class="ui slider checkbox item" onclick="click_input(this, '', 'unique')" style="cursor:pointer;">
            <input type="checkbox" name="newsletter" style="padding-bottom: 5px;" onclick="click_input(this, 'self', 'unique')" {{ if .static }}checked{{ end }}>
            <label>Unique</label>
        </div>
        <div class="ui action left input" style="margin-left:20px;">
            <input type="text" placeholder="host:g.cn port:80,443 status:200" style="width: 500px;">
            <div class="ui button teal icon"><i class="search icon"></i></div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 100px;table-layout:fixed;word-break:break-all;">
    <table class="ui striped table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Host</th>
            <th style="width:5%">Method</th>
            <th>Path</th>
            <th style="width:10%">Type</th>
            <th style="width:4%">Status</th>
            <th style="width:8%">Datetime</th>
            <th style="width:8%">Operation</th>
        </tr>
        </thead>
        <tbody>
        {{ range .records }}
        <tr onclick="window.open('/dashboard/detail?id={{ .ID }}');" style="cursor: pointer;">
            <td>#{{ .ID }}</td>
            <td>{{ .Host }}</td>
            <td>{{ .Method }}</td>
            <td>{{ .Path }}</td>
            <td>{{ .ContentType }}</td>
            <td>{{ .Status }}</td>
            <td>2018-03-12 12:00:00</td>
            <td>
                <button class="ui green basic button mini"><i class="icon copy"></i>Curl</button>
            </td>
        </tr>
        {{ end }}
        </tbody>
        <tfoot>
        <tr><th colspan="8">
            <div class="ui right floated pagination menu">
                <a class="icon item">
                    <i class="left chevron icon"></i>
                </a>
                <a class="item">1</a>
                <a class="item">2</a>
                <a class="item">3</a>
                <a class="item">4</a>
                <a class="icon item">
                    <i class="right chevron icon"></i>
                </a>
            </div>
        </th>
        </tr></tfoot>
    </table>

</div>
{{ end }}

{{ define "js" }}
<script>
    function click_input (obj, cond="", type_) {
        input_ = obj.firstElementChild;
        if (cond === "self") {
            input_ = obj;
        }
        if (input_.checked) {
            input_.checked = false;
        }else {
            input_.checked = true;
        }
    }
</script>
{{ end }}